*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

:root {
  --dkr-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --dkr-grayish-blue: hsl(237, 12%, 33%);
  --dk-grayish-blue: hsl(240, 6%, 50%);
  --lt-grayish-blue: hsl(240, 5%, 91%);
}

body {
  font-size: 1.2rem;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
  color: var(--dkr-desaturated-blue);
}

.container {
  padding-top: 15rem;
  margin: 0 auto;
  min-width: 32.5rem;
  width: min(92rem, 90%);
}
@media only screen and (min-width: 968px) {
  .container {
    padding-inline: 0;
  }
}

.accordian-card {
  background-color: white;
  padding-inline: 2.6rem;
  padding-bottom: 2.6rem;
  border-radius: 2rem;
  position: relative;
}
.accordian-card__box {
  display: none;
}
@media only screen and (min-width: 968px) {
  .accordian-card__box {
    display: block;
    position: absolute;
    top: 40%;
    left: -10%;
    z-index: 999;
  }
}
@media only screen and (min-width: 968px) {
  .accordian-card {
    padding: 0;
    display: grid;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
  }
}

.img-container {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 968px) {
  .img-container {
    width: 38rem;
  }
}
.img-container__mobile {
  position: relative;
}
@media only screen and (min-width: 968px) {
  .img-container__mobile {
    display: none;
  }
}
.img-container__mobile__illustration {
  position: absolute;
  top: -100%;
  left: 0;
}
.img-container__desktop {
  display: none;
  height: 30rem;
  position: relative;
}
@media only screen and (min-width: 968px) {
  .img-container__desktop {
    display: block;
  }
}
.img-container__desktop__bg-pattern {
  position: absolute;
  top: -90%;
  right: 0;
}
.img-container__desktop__illustration {
  width: 120%;
  position: absolute;
  top: 30%;
  right: 0;
}

@media only screen and (min-width: 968px) {
  .accordians-container {
    padding: 5.6rem;
    padding-inline: 8rem;
  }
}
.accordians-container__title {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  margin-block: 3.2rem;
}
@media only screen and (min-width: 968px) {
  .accordians-container__title {
    text-align: left;
  }
}
.accordians-container__accordian {
  cursor: pointer;
}
.accordians-container__accordian__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  color: var(--dkr-grayish-blue);
}
@media only screen and (min-width: 968px) {
  .accordians-container__accordian__question {
    font-size: 1.4rem;
  }
}
.accordians-container__accordian__question:hover {
  color: var(--soft-red);
}
.accordians-container__accordian__answer {
  max-height: 0;
  overflow: hidden;
  color: var(--dk-grayish-blue);
  transition: max-height 200ms ease-in-out;
  padding-top: 1rem;
}
.accordians-container__accordian img {
  transition: transform 250ms ease-in-out;
}
.accordians-container__accordian--active .accordians-container__accordian__question {
  font-weight: 700;
}
.accordians-container__accordian--active .accordians-container__accordian__answer {
  max-height: 100vh;
}
.accordians-container__accordian--active img {
  transform: rotateZ(-180deg);
}
.accordians-container__divider {
  border: none;
  border-top: 1px solid var(--lt-grayish-blue);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.attribution {
  width: 100%;
  font-size: 11px;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  position: absolute;
  bottom: 0;
}
.attribution a {
  color: var(--soft-red);
}